<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark default-color ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#"><strong>Internationalization</strong></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" i18n="@@homeTitle">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="switchLanguage('id')">ID</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="switchLanguage('en')">EN</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="logout()"><mdb-icon fas icon="sign-out-alt"></mdb-icon></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
